<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
      <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--
    for Developement Database mail Configuration.
    -->
    <!--<add key="mailserver" value="smtpout.secureserver.net" />-->
    <!--<add key="mailserver" value="smtpout.secureserver.net" />-->
    <add key="mailserver" value="localhost" />
    <add key="enableemaillog" value="true" />
    <add key="logemail" value="testemail@classifiedsolutionsgroup.com" />
    <add key="port" value="25" />
    <add key="MailFrom" value="noreply-csny@classifiedsolutionsgroup.com" />
    <!--<add key="MailFrom" value="noreply-opbids@classifiedsolutionsgroup.com" />-->
    <add key="BehalfOf" value="Test-City Sounds NY" />
    <add key="Sender" value="noreply-csny@classifiedsolutionsgroup.com" />
    <add key="To" value="anthony@citysoundsny.com" />
    <add key="ReplyTo" value="noreply-csny@classifiedsolutionsgroup.com" />
    <add key="Bcc" value="csny.csg@gmail.com" />
    <add key="Cc" value="anthony@citysoundsny.com" />
    <!--<add key="Production" value="opbids.careerengine@gmail.com" />
    <add key="Finance" value="opbids.careerengine@gmail.com" />-->
    <!--<add key="username" value="opbids@classifiedsolutionsgroup.com" />-->
    <add key="username" value="noreply@classifiedsolutionsgroup.com" />
    <add key="password" value="p8ssw0rd" />
    <add key="EnableSsl" value="false" />
    <add key="SiteUrl" value="http://net.classifiedsolutionsgroup.com/csny-test/" />
    <add key="developement" value="false" />
    <!--For Captcha>-->
    <!--
    <add key="ReCaptchaPrivateKey" value="6LfnLeESAAAAAJ6D6fWh1uzc3eWkEpfUiXdMJjrA" />
    <add key="ReCaptchaPublicKey" value="6LfnLeESAAAAAE2HUvIlB_w6BAbmNLFw-BimqUMV" />
    -->
    <!--vary doc setting start -->
    <!--
    <add key="HostURL" value="http://net.classifiedsolutionsgroup.com/opbids" />
    <add key="Resumes" value="SummaryDoc" />
    <add key="PDFTEMP" value="C:\PdfTemp\" />
    <add key="PDFExe" value="c:\pdftemp\pdftohtmlcmd.exe" />
    <add key="HtmlFiles" value="D:\NewWorkOnProduction\ITClassifieds\ITClassifieds\HTMLFiles\" />
    <add key="Converter" value="D:\doc2any\doc2any.exe" />
    <add key="TEMP" value="d:\Temp\" />
    <add key="ConverterService" value="c:\doc2any\docPrint_client.exe" />
    -->
    <!--vary doc setting end -->
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="Kendo.Mvc.UI" />-->
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <!--<add name="CSNYEntities" connectionString="metadata=res://*/Models.CSNY1.csdl|res://*/Models.CSNY1.ssdl|res://*/Models.CSNY1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSG-PC;initial catalog=CSNY_New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CSNY_NewEntities" connectionString="metadata=res://*/Models.CSNY.csdl|res://*/Models.CSNY.ssdl|res://*/Models.CSNY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSG-PC;initial catalog=CSNY_New;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CSNY_NewEntities" connectionString="metadata=res://*/Models.CSNY.csdl|res://*/Models.CSNY.ssdl|res://*/Models.CSNY.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=CSNY_New;User ID=p;Password=p;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PdfReportCsnyEntities" connectionString="metadata=res://*/Models.CsnyModel.csdl|res://*/Models.CsnyModel.ssdl|res://*/Models.CsnyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=(local);Initial Catalog=CSNY_New;User ID=p;Password=p;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>