@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


 <div class="main_content">
          <div class="page_heading">
                       <p>Change Password Confirmation</p>
          </div>         
     <br />
          <br />   

<h4>Your password has been changed successfully.</h4><br />
     <br />  <br />
      <div>
            @* <a title="Login" href="account/log_on">Click Here To </a>Login*@
          <a title="Login" href="http://net.classifiedsolutionsgroup.com/opbids/account/log_on">Click Here To </a>Login
      </div>

</div>

