
@model OPBids.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc


<script type="text/javascript">

    function SecurityDetailCheck()
    {
        var error = "";
        
        var SecurityAns = document.getElementById('reserpasswordanswer');

        var Source1val = "";

        var radios = document.getElementsByName('rd');

        for (var i = 0, length = radios.length; i < length; i++)
        {
            if (radios[i].checked)
            {
                Source1val = radios[i].value;
            }
        }

        if(SecurityAns.value == "" && Source1val == "UserName") {
            error += "Please Enter User Name.\n";
            document.getElementById("spnError").innerHTML = error;
            return false;
        }
        if(SecurityAns.value != "" && Source1val == "UserName") {
            
            return true;
        }

        if (SecurityAns.value == "" && Source1val == "EmailId") {
            error += "Please Enter Email Address.\n";
            document.getElementById("spnError").innerHTML = error;
            return false;
        }
        else {
            var atpos = SecurityAns.value.indexOf("@@");
            var dotpos = SecurityAns.value.lastIndexOf(".");

            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= SecurityAns.value.length && Source1val == "EmailId") {
                error += "Please Enter Valid E-mail Address.\n";
                //  alert(error);
                document.getElementById("spnError").innerHTML = error;
                return false;
            }
            else {
                return true;
            }
        }       
    }
   
</script>


 @using (Html.BeginForm())
 {
     
       
      <div class="main_content">
          <div class="page_heading">
                       <p>Forgot Password</p>
          </div>         
         
    <br />
          <br />     
             <p style="padding-left:15px;padding-right:10px;">Enter your username or e-mail address here and we'll e-mail your username and new password to you.
                        <div class="editor-label">
                                            
                                    <b>
                                 By :
                           </b>
                        </div>
                    
                        <div class="editor-field">
                            <input type="radio" value="UserName" name="rd" title="UserName" checked="checked" />Username
                         
                        </div>
                        <div style="clear: both;"></div>
                        <div class="editor-label">&nbsp;</div>
                        <div class="editor-field">
                           <input type="radio" value="EmailId"  name="rd" title="EmailAddress"  />Email Address
                        </div>
                       
                        <div style="clear: both;"></div>
                        <div class="editor-label">
                            <b>Answer :</b>
                        </div>
                        <div class="editor-field">
                              @Html.TextBoxFor(model => model.reserpasswordanswer, new { @maxlength="70"})  
                              <span style="color:Red;font-size:10px;" id="spnError"></span>
                            <br />
                            <br />
                            <input type="submit" onclick="return SecurityDetailCheck()"  class="input_button" value="SUBMIT"/>
                        </div>
                        <div style="clear: both;"></div>

                       
         <p style="padding-left:15px;padding-right:10px;">If you are unable to retrieve your login or password, please  <a href="http://net.classifiedsolutionsgroup.com/opbids/home/contact_us" target="_blank">contact us</a> for assistance.</p>              
         
         </div>
                 
         
     
 }
  @* @{ Html.Telerik().Window()
                        .Name("TrackalopeWindow")
                        .Title("Error message")
                        .Resizable(resizing => resizing
                            .Enabled(false)
                        )
                        .Modal(true)
                        .Buttons(b => b.Maximize().Close())
                        .Content(@<text>
          
                                <div id="errordiv">
                
                                </div>

                            </text>)
                        .Width(300).Visible(false)
                        .Height(150)
                        .Render();
                }*@