@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "LogOff";
}

<h2>LogOff Successfull.</h2>

<br />
<center><h1><strong><text ><a href="@Url.Content("~/Account/LogOn")" title= "LogIn">LogIn To Click here</a></text></strong></h1></center>