@{
    ViewBag.Title = "Registration Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <div class="main_content">
          <div class="page_heading">
<p>Registration Confirmation</p>
</div>
     <br /><br />
     <span style="text-align:center;">
     You have successfully registered! 
<br />
         </span>
<br />
    
     </div>