@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <div class="main_content">
          <div class="page_heading">
                       <p>Reset Password Confirmation</p>
          </div>         
     <br />
          <br />   

<h4>Your Password is Successfully Reset.</h4><br />
     <br />  <br />
      @*<div>
             <a title="Login" href="http://net.classifiedsolutionsgroup.com/opbids/account/log_on">Click Here To </a>Login
      </div>*@

</div>
