@{
    ViewBag.Title = "AddStudentSuccess";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <div class="main_content">
          <div class="page_heading">
<p>Add Student Confirmation</p>
</div>
     <br /><br />
     <span style="text-align:center;">
     You have successfully added a new student! <a href="@Url.Content("~/admin/Editmandate/0")">
      please click here</a>  to add mandate for this new kid.
<br />
         </span>
<br />
    
     </div>