@{
    ViewBag.Title = "Registration Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <div class="main_content">
          <div class="page_heading">
<p>DOE Record</p>
</div>
     <br /><br />
     <span style="text-align:center;">
     File have successfully uploaded!
<br />
         </span>
<br />
     To Log in,
<a href="@Url.Content("~/account/log_on")" title= "Logon">
      please click here.</a> 
     </div>