@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

  <div class="main_content">
             <div id="Input">
           <div class="page_heading">
             <p>Admin Home</p>
            </div>

                 <h2><b><u>Find User:</u></b></h2>

                  <span style="float:left;padding-left:100px">
                <input style="width:200px;" type="button" onClick="location.href = '../admin/FindUser'" value="Find Child" />   
                       <br /> 
                      <br /> 
                 <input style="width:200px;" type="button" onClick="location.href = '../admin/FindTherapist'" value="Find Therapist" />
                      <br />
                      <br /> 
                      <input style="width:200px;" type="button" onClick="location.href = '../admin/Adminlist'" value="Administrator" />
          </span>
                  <div style="clear:both;"><br /></div>

                 
                 <h2><b><u>Functions:</u></b></h2>   
                   <span style="float:left;padding-left:100px">
                <input style="width:200px;" type="button" onClick="location.href = '../admin/AddStudent/0'" value="Add New Child" />   
                      <br />
                       <br /> 
                 <input style="width:200px;" type="button" onClick="location.href = '../admin/LockSession'" value="Lock/Unlock Session" />
                      <br />
                       <br /> 
                      <input style="width:200px;" type="button" onClick="location.href = '../admin/Upload-DOE-data'" value="Upload Mandates (Add/Edit/Delete)"" />
                       <br />
                        <br /> 
                        <input style="width:200px;" type="button" onClick="location.href = '../Report/Update_DOE'" value="DOE Invoicing"" />
          </span>
                  <div style="clear:both;"><br /></div>
                 

                 <h2><b><u>Reports:</u></b></h2>
                   <span style="float:left;padding-left:100px">
                <input style="width:200px;" type="button" onClick="location.href = '../Report/NIS_list'" value="NOT Merged W/DOE" />   
                      <br /> 
                       <br /> 
                 <input style="width:200px;" type="button" onClick="location.href = '../Report/DOERecorded'" value="Merged W/DOE" />
                      <br />
                       <br /> 
                      <input style="width:200px;" type="button" onClick="location.href = '../Report/Billing'" value="Therapist Billing" />
                        <br />
                       <br /> 
                      <input style="width:200px;" type="button" onClick="location.href = '../Report/Summary'" value="Summary" />
                       <br />
                       <br /> 
                      <input style="width:200px;" type="button" onClick="location.href = '../Report/InvoiceFiles'" value="Invoice Files" />
          </span>
                  <div style="clear:both;"><br /></div>

                 </div>
      </div>
 