<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OpBids-Admin Home</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
    
</head>
<body id="homepage" class="body">
  <div id="header">    	
       <!--<img src="img/ADMIN_images/sitelogo300x68_IT.jpg" style="margin-left:0px;padding:18px;" height="65px" alt="Logo">       -->
       <div style="float: left;height:49px;width: 100%;margin:0px;padding:25px;">
<a href="http://net.classifiedsolutionsgroup.com/opbids/">
<img style="float:left;" src="http://net.classifiedsolutionsgroup.com/opbids/images/mcgraw_logo.jpg" alt="Opbids"/>
<p style="font-weight: bold; text-decoration: none; color:white; font-size:32px;padding:5px;">Official Bids & Proposals</p>
</a>
</div>
  </div>
      <br />
        
         
        <div id = "breadcrumb">
        <center >ADMINISTRATION SECTION </center></div>
        <div style="clear:both;">
            <div id="rightside">
                
                <div>
                   <div>
                   center content
                   </div>
        </div>    
        </div>
        </div>

         <!-- Content Box Start -->
        
         <!-- Content Box End -->
    
        <!-- Right Side/Main Content End -->
    
        <!-- Left Dark Bar Start -->
    <div id="leftside">
    	<div class="user">
        	<img src="images/avatar.png" width="44" height="44" class="hoverimg" alt="Avatar" />
            <p>Logged in as:</p>
            <p class="username">Administrator</p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>
            <p class="userbtn"><a href="#" title="">Log out</a></p>
        </div>
        
        
        <ul id="nav">
        	<li>
                <ul class="navigation">
                    <li class="heading selected"><a href="#"  style=" background:none; margin-top:-10px;" title="">ADMIN MENU</a></li>
                     
                    <li><a href="#" title="">Find User</a></li>
                    <li><a href="#" title="">Find Order</a></li>
                    <li><a href="#" title="">Find Bids</a></li>
                    <li><a href="#" title="">Reports</a></li>
                    <li><a href="#" title="">Analytics</a></li>
                </ul>
                </li>
        </ul>
    </div>
    <!-- Left Dark Bar End -->     
</body>
</html>
