<div class="main_footer">
<div id="copyrightinfo">
    	
    	                                    <a href="#">resources</a> |          
                                            <a href="#">editorial calendar</a>  |          
                                            <a href="#">contact us</a> |          
                                            <a href="#">about us</a> |          
                                            <a href="#" target="_blank">submissions</a> |          
											<a href="#">site map</a> |          
                                            <a href="#">ENR subscriber login</a> |          
                                            <a href="#">ENR community</a><br> |          
                                            <a href="#" target="_blank">back issues</a> |          
                                            <a href="#" target="_blank">advertise</a> |          
                                            <a href="#" target="_blank">terms of use</a> |          
                                            <a href="#" target="_blank">privacy notice</a> |          
                                            <p>&copy; 2011 The McGraw-Hill Companies, Inc. All Rights Reserved</p>
</div>
</div>