<div class="main_header">
  <div class="header_top">
   <div class="tabs">
       <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    <img src="/opbids/Content/images/subscribe.gif" width="22" height="15">
			<a>subscribe</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
   
   
   
       <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    
			<a>contact us</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
   
   
   
       <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    
			<a>advertise</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
  
   
   
       <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    <img src="/opbids/Content/images/hardhat.gif" width="22" height="15">
			<a>industry jobs</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
   
   
   
       <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    <img src="/opbids/Content/images/events.gif" width="22" height="15">
			<a>events</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
   
   
   
       <div class="tab_1" id="last_tab">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    
			<a>FAQ</a>
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
	   
	   <div class="tab_1">
	      <div class="left_img"></div>
		  <div class=tab_name>
		    <a>ENR Subscriber Login</a>
			<img src="/opbids/Content/images/questionMark.gif" height="15">
		  </div>
		  <div class="right_img"></div>
		  <div class="bottom_img"></div>
	   </div>
	   
  </div>
       <div class="mgh_image">
	   </div>
   
 </div>
 
 <div class="header_bottom">
      <div class="enr_image">
	  </div>
	   
	  <div class="header_right">
	     <div class="magcover_image">
		   <img src="/opbids/Content/images/magCover_sub_small.jpg" height="41px;">
		   <p style="padding-top:8px;"><b>SUBSCRIBE TODAY</b></p><p>& receive immediate web access</p>
	     </div>
		 <div class="search_box">
		   <span>search our site:</span>
		   <input type="text" value="" name="">
		   <img src="/opbids/Content/images/seachButton.gif" height="20px;">
	     </div>
	  </div>
 </div> 
 
 </div>
