
<div class="Nav_bar">

<ul>
  <li id="Infrasrtuctureli">
     <a>Infrasrtucture</a>
		 <ul>
			<li><a>Transportation</a></li>
			<li><a>Environment</a></li>
			<li><a>Power & Industrial</a></li>
			<li><a>Water & Dams</a></li>
		 </ul> 
  </li>
  <li id="Bldgsli">
     <a>Bldgs</a>
        <ul>
			<li><a>Building Types</a></li>
			<li><a>Construction Methods</a></li>
			<li><a>Design</a></li>
			<li><a>Sustainability</a></li>
		 </ul> 
  </li>
  <li id="BizMgmtli">
     <a>Biz Mgmt</a>
        <ul>
			<li><a>Safety & Health</a></li>
			<li><a>Workforce</a></li>
			<li><a>Finance</a></li>
			<li><a>Companies</a></li>
			<li><a>Project Delivery</a></li>
			<li><a>Ethics & Corruption</a></li>
		 </ul> 
  </li>
  <li id="Policyli">
     <a>Policy</a>
        <ul>
			<li><a>Associations</a></li>
			<li><a>Washington Observer</a></li>
			<li><a>Legal</a></li>
			
		 </ul> 
  </li>
  <li id="Equipmentli">
     <a>Equipment</a>
        <ul>
			<li><a>Equipment</a></li>
			<li><a>Materials</a></li>
			<li><a>Product Snapshot</a></li>
			
		 </ul> 
  </li>
  <li id="Peopleli">
     <a>People</a>
        <ul>
			<li><a>Interviews</a></li>
			<li><a>Awards</a></li>
			<li><a>People on the Move</a></li>
			<li><a>ENR Next</a></li>
			<li><a>Obituaries</a></li>
		 </ul> 
  </li>
  <li id="Multimediali">
     <a>Multimedia</a>
       <ul>
			<li><a>Special Reports</a></li>
			<li><a>Video</a></li>
			<li><a>Annual Photo Contest</a></li>
			<li><a>Vote on Photo Contest Entries</a></li>
			<li><a>Photo Contest Archives</a></li>
			<li><a>Slideshows</a></li>
			<li><a>Reader Photos</a></li>
			<li><a>Community</a></li>
		 </ul> 
  </li>
  <li id="Opinionli">
     <a>Opinion</a>
       <ul>
			<li><a>Blogs</a></li>
			<li><a>Editorial</a></li>
			<li><a>Viewpoint</a></li>
			<li><a>Forums</a></li>
			<li><a>Letters</a></li>
			<li><a>Book Reviews</a></li>
			<li><a>Community</a></li>
		 </ul> 
  </li>
  <li id="Techli">
     <a>Tech</a>
       <ul>
			<li><a>Information Technology</a></li>
			<li><a>Construction Technology</a></li>
			<li><a>BIM</a></li>
			<li><a>Social Media</a></li>
	  </ul> 
  </li>
  <li id="Educationli">
     <a>Education</a>
       <ul>
			<li><a>Earn Continuing Education Credits</a></li>
			<li><a>Webinars</a></li>
			<li><a>White Papers</a></li>
			<li><a>Construction Schools</a></li>
			<li><a>Civil Engineering Schools</a></li>
		 </ul> 
  </li>
  <li id="Economicsli">
     <a>Economics</a>
       <ul>
			<li><a>Current Costs</a></li>
			<li><a>Material Trends</a></li>
			<li><a>Historical Indices</a></li>
			<li><a>Quarterly Cost Reports</a></li>
			<li><a>FAQ</a></li>
	  </ul> 
  </li>
  <li id="TopListsli">
     <a>Top Lists</a>
       <ul>
			<li><a>ENR Top Lists</a></li>
			<li><a>ENR Sourcebooks</a></li>
			<li><a>Survey Schedule</a></li>
			
		 </ul> 
  </li>
  <li id="Regionsli">
     <a>Regions</a>
  </li>
</ul>

</div>