<div class="pre_footer">
<div class="all_logos">
   <div id="MHC"><a></a></div>
   <div id="Arsm"><a></a></div>
   <div id="greenSourceSm"><a></a></div>
   <div id="sweets"><a></a></div>
   <div id="dodge"><a></a></div>
</div>
   
</div>