<div class="rightcontent_area">
 <div class="blog1">
    <div class="blog_img">
	   <img src="/opbids/Content/images/ThisWeekCover.jpg">
	</div>
	<div class="blog_content">
		<ul>   
			<li>This week's content</li>
			<li>Archive</li>
			<li>Subscribe to ENR</li>
			<li>Order back issues</li>
			<li>Manage Subscription</li>
			<li>Newsletter Subscriptions</li>
		</ul> 
	</div>
 </div>
 
 <div class="blog2">
    <div class="jobs_blog">
	   <h2>Industry Job Postings</h2>
	   <p><a><b>multiple positions</b></a></p>
	   <span>Rohadfox</span>
	   <p><a><b>Rail-Transit/Hwy Design Mgr and Program/Const Mgrs</b></a></p>
	   <span>Rajappan & Meyer Consulting Engineers, Inc.</span>
	   <p><a><b>TRACK EQUIPMENT MAINTAINER</b></a></p>
	   <span>MTA New York City Transit</span>
	</div>
 </div>
</div>